
p {
  color:maroon ;
  font-size: 20px;          
  display: flex;            
  align-items: center;      
  gap: 30px;                
}

img {
  width: 70%;             
  height: auto;
  max-width: 100px;        
}

body {
  font-family: Arial;
  margin-left: 20%;
  margin-right: 20%;
  background-color:rgb(237, 218, 200);  
  font-size: 25px;          
  font-weight: 100;          
}

h1,h2 {
  font-family: Arial;
  color: gray;
}

h1 {
  border-bottom:1px solid black;
}